<div class="container">
<div class="mt-4 mb-5">
  <div class="m-5">
    <strong><%= @end_user.first_name + @end_user.last_name %>さんの会員情報編集</strong>
  </div>
  <%= form_for @end_user, url: admin_end_user_path(@end_user) do |f| %>
    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-2">
        <p>名前</p>
      </div>
      <div class="col-1 text-right">
        <p class="">(姓)　</p>
      </div>
      <div class="col-2 pl-0">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control' %>
      </div>
      <div class="col-1 text-right">
        <p class="">(名)　</p>
      </div>
      <div class="field col-2 pl-0">
        <%= f.text_field :last_name, autocomplete: "last_name", class: 'form-control' %>
      </div>
    </div>

    <div class="row form-group align-bottom">
      <div class="col-1"></div>
      <div class="col-2">
        <p>フリガナ</p>
      </div>
      <div class="col-1 text-right">
        <p class="">(セイ)</p>
      </div>
      <div class="col-2 pl-0">
        <%= f.text_field :kana_first_name, autocomplete: "kana_first_name", class: 'form-control' %>
      </div>
      <div class="col-1 text-right">
        <p class="">(メイ)</p>
      </div>
      <div class="field col-2 pl-0">
        <%= f.text_field :kana_last_name, autocomplete: "kana_last_name", class: 'form-control' %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-3">
        <p>メールアドレス</p>
      </div>
      <div class="field col-4 pl-0">
        <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-3">
        <p>郵便番号(ハイフンなし)</p>
      </div>
      <div class="field col-4 pl-0">
        <%= f.text_field :postal_code, autocomplete: "postal_code", class: 'form-control' %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-3">
        <p>住所</p>
      </div>
      <div class="field col-4 pl-0">
        <%= f.text_field :address, autocomplete: "address", class: 'form-control' %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-1"></div>
      <div class="col-3">
        <p>電話番号(ハイフンなし)</p>
      </div>
      <div class="field col-4 pl-0">
        <%= f.text_field :phone_number, autocomplete: "phone_number", class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-1">
        <%= f.radio_button :is_working, :true %>有効
      </div>
      <div class="col-1">
        <%= f.radio_button :is_working, :false %>無効
      </div>
    </div>

    <div class=" row mt-4">
      <div class="col-1"></div>
      <div class="col-1">
        <%= f.submit "変更を保存する", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>
</div>
