<div class="container">
  <div class="m-5">
    <strong><%= @end_user.first_name + @end_user.last_name %>さんの会員詳細</strong>
  </div>
  <div class="row mb-2">
    <div class="col-2">顧客ID</div>
    <div class="col-10">
      <%= @end_user.id %>
      <% if @end_user.is_working %>
        <div class="btn btn-primary btn-sm">有効会員</div>
      <% else %>
        <div class="btn btn-primary btn-sm">無効会員</div>
      <% end %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-2">氏名</div>
    <div class="col-10"><%= @end_user.first_name + @end_user.last_name %></div>
  </div>
  <div class="row mb-2">
    <div class="col-2">フリガナ</div>
    <div class="col-10"><%= @end_user.kana_first_name + @end_user.kana_last_name %></div>
  </div>
  <div class="row mb-2">
    <div class="col-2">郵便番号</div>
    <div class="col-10"><%= @end_user.postal_code %></div>
  </div>
  <div class="row mb-2">
    <div class="col-2">住所</div>
    <div class="col-10"><%= @end_user.address %></div>
  </div>
  <div class="row mb-2">
    <div class="col-2">電話番号</div>
    <div class="col-10"><%= @end_user.phone_number %></div>
  </div>
  <div class="row mb-2">
    <div class="col-2">メールアドレス</div>
    <div class="col-10"><%= @end_user.email %></div>
  </div>
  <div>
    <%= link_to "編集する", edit_admin_end_user_path(@end_user), class: "btn btn-info" %>
    <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-info" %>
  </div>
</div>